<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>changeTokenByIncrementalKey</key>
	<dict>
		<key>PHAGraphRebuildTaskIncrementalKey</key>
		<dict>
			<key>persistentChangeToken</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGpCwwTFx8gIScsVSRudWxs0w0ODxAREl8QFlBlcnNpc3Rl
			bnRIaXN0b3J5VG9rZW5XVmVyc2lvblYkY2xhc3OAAhABgAjSDxQV
			Fl8QIk5TUGVyc2lzdGVudEhpc3RvcnlUb2tlbkRpY3Rpb25hcnmA
			B4AD0xgZDxocHldOUy5rZXlzWk5TLm9iamVjdHOhG4AEoR2ABYAG
			XxAkMjlCQTcyNDMtNjAzMy00MEM4LUI3MUItQkU2RThCNEMxMDlD
			EAbSIiMkJVokY2xhc3NuYW1lWCRjbGFzc2VzXE5TRGljdGlvbmFy
			eaIkJlhOU09iamVjdNIiIygpXxAZX05TUGVyc2lzdGVudEhpc3Rv
			cnlUb2tlbqMqKyZfEBlfTlNQZXJzaXN0ZW50SGlzdG9yeVRva2Vu
			XxAYTlNQZXJzaXN0ZW50SGlzdG9yeVRva2Vu0iIjLS5fEBdQSFBl
			cnNpc3RlbnRDaGFuZ2VUb2tlbqIvJl8QF1BIUGVyc2lzdGVudENo
			YW5nZVRva2VuAAgAEQAaACQAKQAyADcASQBMAFEAUwBdAGMAagCD
			AIsAkgCUAJYAmACdAMIAxADGAM0A1QDgAOIA5ADmAOgA6gERARMB
			GAEjASwBOQE8AUUBSgFmAWoBhgGhAaYBwAHDAAAAAAAAAgEAAAAA
			AAAAMAAAAAAAAAAAAAAAAAAAAd0=
			</data>
		</dict>
		<key>PHAMemoriesEnrichmentTask</key>
		<dict>
			<key>persistentChangeToken</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGpCwwTFx8gIScsVSRudWxs0w0ODxAREl8QFlBlcnNpc3Rl
			bnRIaXN0b3J5VG9rZW5XVmVyc2lvblYkY2xhc3OAAhABgAjSDxQV
			Fl8QIk5TUGVyc2lzdGVudEhpc3RvcnlUb2tlbkRpY3Rpb25hcnmA
			B4AD0xgZDxocHldOUy5rZXlzWk5TLm9iamVjdHOhG4AEoR2ABYAG
			XxAkMjlCQTcyNDMtNjAzMy00MEM4LUI3MUItQkU2RThCNEMxMDlD
			EAbSIiMkJVokY2xhc3NuYW1lWCRjbGFzc2VzXE5TRGljdGlvbmFy
			eaIkJlhOU09iamVjdNIiIygpXxAZX05TUGVyc2lzdGVudEhpc3Rv
			cnlUb2tlbqMqKyZfEBlfTlNQZXJzaXN0ZW50SGlzdG9yeVRva2Vu
			XxAYTlNQZXJzaXN0ZW50SGlzdG9yeVRva2Vu0iIjLS5fEBdQSFBl
			cnNpc3RlbnRDaGFuZ2VUb2tlbqIvJl8QF1BIUGVyc2lzdGVudENo
			YW5nZVRva2VuAAgAEQAaACQAKQAyADcASQBMAFEAUwBdAGMAagCD
			AIsAkgCUAJYAmACdAMIAxADGAM0A1QDgAOIA5ADmAOgA6gERARMB
			GAEjASwBOQE8AUUBSgFmAWoBhgGhAaYBwAHDAAAAAAAAAgEAAAAA
			AAAAMAAAAAAAAAAAAAAAAAAAAd0=
			</data>
		</dict>
		<key>PHASearchEnrichmentTask</key>
		<dict>
			<key>persistentChangeToken</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0
			b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRy
			b290gAGpCwwTFx8gIScsVSRudWxs0w0ODxAREl8QFlBlcnNpc3Rl
			bnRIaXN0b3J5VG9rZW5XVmVyc2lvblYkY2xhc3OAAhABgAjSDxQV
			Fl8QIk5TUGVyc2lzdGVudEhpc3RvcnlUb2tlbkRpY3Rpb25hcnmA
			B4AD0xgZDxocHldOUy5rZXlzWk5TLm9iamVjdHOhG4AEoR2ABYAG
			XxAkMjlCQTcyNDMtNjAzMy00MEM4LUI3MUItQkU2RThCNEMxMDlD
			EAbSIiMkJVokY2xhc3NuYW1lWCRjbGFzc2VzXE5TRGljdGlvbmFy
			eaIkJlhOU09iamVjdNIiIygpXxAZX05TUGVyc2lzdGVudEhpc3Rv
			cnlUb2tlbqMqKyZfEBlfTlNQZXJzaXN0ZW50SGlzdG9yeVRva2Vu
			XxAYTlNQZXJzaXN0ZW50SGlzdG9yeVRva2Vu0iIjLS5fEBdQSFBl
			cnNpc3RlbnRDaGFuZ2VUb2tlbqIvJl8QF1BIUGVyc2lzdGVudENo
			YW5nZVRva2VuAAgAEQAaACQAKQAyADcASQBMAFEAUwBdAGMAagCD
			AIsAkgCUAJYAmACdAMIAxADGAM0A1QDgAOIA5ADmAOgA6gERARMB
			GAEjASwBOQE8AUUBSgFmAWoBhgGhAaYBwAHDAAAAAAAAAgEAAAAA
			AAAAMAAAAAAAAAAAAAAAAAAAAd0=
			</data>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>upgradeDate</key>
		<date>2026-03-31T07:29:32Z</date>
		<key>version</key>
		<integer>3</integer>
	</dict>
	<key>nonIncrementalRunRecords</key>
	<dict>
		<key>PHAGraphRebuildTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-03-31T10:43:34Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>featureCheckpoint</key>
			<integer>50</integer>
			<key>featureCode</key>
			<integer>400</integer>
			<key>featureCompleteInterval</key>
			<real>11643</real>
			<key>version</key>
			<integer>701</integer>
		</dict>
		<key>PHAMemoriesEnrichmentTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-03-31T10:44:13Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>11681</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHASearchEnrichmentTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-03-31T11:07:22Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>13070</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>records</key>
	<dict>
		<key>FeaturedCollectionElectionTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-03-31T10:44:13Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>11681</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>GraphSearchEntityRankingDonationTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-03-31T11:07:22Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>13070</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>MemoryCreationFeatureAvailabilityTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-04-06T06:22:45Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>featureCode</key>
			<integer>800</integer>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>MessagesBackdropGenerationTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-03-31T07:31:01Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>featureCode</key>
			<integer>117</integer>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>MessagesContextualBackdropGenerationTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-03-31T10:43:49Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>featureCode</key>
			<integer>118</integer>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAAssetRevGeocodeEnrichmentTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-04-06T06:22:29Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>6032</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHACachingCPAnalyticsPropertiesTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-04-06T06:22:45Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>6047</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAContactUpdateTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-03-31T10:43:34Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>11643</real>
			<key>version</key>
			<integer>701</integer>
		</dict>
		<key>PHAExternalAssetsTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-03-31T10:43:49Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>11658</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAFeaturesUsageReportingTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-04-06T06:22:45Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>6047</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAForcedHighlightEnrichmentTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-03-31T11:07:22Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>featureCode</key>
			<integer>102</integer>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAGraphRebuildTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-04-01T08:06:05Z</date>
			<key>didRunIncrementally</key>
			<true/>
			<key>featureCheckpoint</key>
			<integer>50</integer>
			<key>featureCode</key>
			<integer>400</integer>
			<key>featureCompleteInterval</key>
			<real>11643</real>
			<key>version</key>
			<integer>701</integer>
		</dict>
		<key>PHAHighlightCollectionEnrichmentTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-04-01T08:06:38Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>13070</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAHighlightEnrichmentTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-04-01T08:06:38Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>featureCode</key>
			<integer>102</integer>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAMediaSampleReportingTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-04-06T06:22:45Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>6047</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAMemoriesEnrichmentTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-03-31T10:44:13Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>11681</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAMemoryElectionTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-03-31T10:44:13Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>featureCode</key>
			<integer>101</integer>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAPeopleSuggestionEnrichmentTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-03-31T10:43:49Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>11658</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHAPortraitDonationEnrichmentTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-04-06T06:22:29Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>13279</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHARevGeocodeSyndicationTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-04-06T06:22:29Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>13279</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHASearchEnrichmentTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-04-01T08:06:21Z</date>
			<key>didRunIncrementally</key>
			<true/>
			<key>fteInterval</key>
			<real>13070</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHASuggestionGenerationTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-03-31T10:44:13Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>featureCheckpoint</key>
			<integer>30</integer>
			<key>featureCode</key>
			<integer>100</integer>
			<key>fteInterval</key>
			<real>11681</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PHASyndicationTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-03-31T10:43:49Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>11658</real>
			<key>version</key>
			<integer>22</integer>
		</dict>
		<key>PHAWallpaperWeeklyTask[Ambient]</key>
		<dict>
			<key>completionDate</key>
			<date>2026-03-31T10:43:34Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>featureCheckpoint</key>
			<integer>30</integer>
			<key>featureCode</key>
			<integer>0</integer>
			<key>fteInterval</key>
			<real>11643</real>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<key>PublicEventCacheInvalidationTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-03-31T10:43:34Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>11642</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<key>PublicEventCachingTask</key>
		<dict>
			<key>completionDate</key>
			<date>2026-03-31T10:43:34Z</date>
			<key>didRunIncrementally</key>
			<false/>
			<key>fteInterval</key>
			<real>11642</real>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</dict>
</dict>
</plist>
